# Backend files
dotnetapp/Migrations/
karma/
nunit/
dotnetapp/secrets.json


#Frontend files

angularapp/node_modules
angularapp/e2e
angularapp/karma.conf.js
angularapp/tsconfig.spec.json
angularapp/package-lock.json
angularapp/src/url.ts
angularapp/.editorconfig
angularapp/.browserslistrc
angularapp/src/test.ts